{{>html_header}}
<div class="wrapper blog">
    {{>header}}
    <div id="blog-box">

        <div id="blog-sidebar" class="box">
            <h3>Previous</h3>
            <ul>
                {{#each posts}}
                <li><a href="/blog/{{this._id}}">{{this.title}}</a></li>
                {{/each}}
            </ul>
        </div>

        <div id="blog-main" class="box">
            <h1 id="blog-title" class="highlight">
                <a href="/blog/{{latest._id}}">
                    {{latest.title}}
                </a>
            </h1>
            <div id="blog-body">
                {{{latest.body}}}
            </div>
        </div>
    </div>
    {{>footer}}
</div>
{{>html_footer}}